<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594317992343-i8qpkke77gu28oj6so240ccbpl9qbrc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594317992343-i8qpkke77gu28oj6so240ccbpl9qbrc8</string>
	<key>API_KEY</key>
	<string>AIzaSyC7dc6YF5FdV1OgIKOK5sH5vZYttfu8plc</string>
	<key>GCM_SENDER_ID</key>
	<string>594317992343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ygt</string>
	<key>PROJECT_ID</key>
	<string>ygtang-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ygtang-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594317992343:ios:4b6299f853684fdc1ca4d2</string>
</dict>
</plist>