<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ygt.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>65F606D73DB1099FAABAEF74D388A0025E2101DE</string>
				<key>dateExpires</key>
				<string>2023/05/28</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>65F606D73DB1099FAABAEF74D388A0025E2101DE</string>
						<key>dateExpires</key>
						<string>2023/05/28</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>7FLZ9T5LU3.org.reactjs.native.example.ygt.share-extension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>7FLZ9T5LU3</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.org.reactjs.native.example.ygt-container</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>ShareExtention.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>2ebc3eae-c29a-49f7-9139-98cbb66b91b3</string>
						<key>dateExpires</key>
						<string>2023/05/28</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: org.reactjs.native.example.ygt.share-extension</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7FLZ9T5LU3</string>
						<key>name</key>
						<string>daeyoon jeong</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7FLZ9T5LU3.org.reactjs.native.example.ygt</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:ygtang.kr</string>
					<string>applinks:*.ygtang.kr</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>7FLZ9T5LU3</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.org.reactjs.native.example.ygt-container</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ygt.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>94b312d5-6a81-4f69-a562-01e044bcc0c1</string>
				<key>dateExpires</key>
				<string>2023/05/28</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: org.reactjs.native.example.ygt</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7FLZ9T5LU3</string>
				<key>name</key>
				<string>daeyoon jeong</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.1</string>
		</dict>
	</array>
</dict>
</plist>
